@charset 'UTF-8';

/*define a codificação a ser utilizada para o documento*/

/*começar com div#contato */


div#contato {
	margin:0;
	background-repeat:repeat;
	background-size:100% 100%;
	height:auto;
	width:100%;
	position:relative;
	
	padding-bottom:100px;
}
div#contato #conteudocontato{
	width:100%;	
	height:auto;
}

#contato #base {
	background-color:rgba(0,0,0,0.65);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.65);
	margin: 5px 5% 5px 5%;
	padding: 10px;
	box-sizing:content-box;
	
}


#base form label{
	color:white;
	text-align:left;
	padding-bottom:15px;
	margin-top:5px;
	font-size:16pt;
}

#base form input,#base form textarea{
	box-shadow: 0px 0px 3px rgba(255,255,255,.9);
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	margin-bottom:10px;
	font-family:Arial;
	text-align:left;
	color:rgb(40,40,40);
	font-size:14pt;
	width:480px;
	border:none;
}

#base form textarea{
	width:480px;
	height:200px;
	text-align:left;
}

#base form label.nomecampos{
	position:relative;
	text-align:left;
}

#base #enviar{
	background-color:rgba(255,135,0,.15);
	border: solid 1px rgba(255,135,0,.15);
	box-shadow:none;
	color:white;
	padding:8px 30px 8px 30px;
	position:relative;
	background-position:240px center;
	transition: all 1s;
	margin-bottom:50px;
	margin-top:20px;
	margin-left:70px;
	width:336px;
	text-align:center;
}


#base #enviar:hover{
	background-color:rgba(230,135,0,.2);
	transition: all 1s;
	padding-left:0px;
	background-image:url("../midia/setabotao.png");
	background-repeat:no-repeat;
	background-size:13px;
	background-position:260px center ;
	text-shadow:white 0 0 0.5px; 
} 
#base figure img{
	height:55px;
	width:70px;
	float:left;
}
#base figure{
	margin:0;
	padding:0;
}
#base figure figcaption p{
	color:white;
	font-size:19pt;
	font-family:Verdana;
}


div#encontre-nos{
	display:inline-block;
	background-color:rgba(255,130,0,.1);
	width:100%;
	height:480px;
}
div#encontre-nos p{
	text-align:left;
	color:white;
	font-size:19pt;
	font-family:Verdana;
}
#base #encontre-nos figure img{
	height:60px;
	width:145px;
	float:left;
}
#encontre-nos figure{
	margin:0;
}
#mapa{
	overflow:hidden;
	height:400px;
	width:100%;
}
#base figure figcaption p{
	color:white;
	font-size:12pt;
	font-family:Verdana;
	text-align:center;
}

div#e-mail{
	width:500px;
	display:inline-block;
	padding:7px;
	border-right:rgba(255,255,255,.1) 1px solid;
}
div#e-mail figure{
	margin:0;
	margin-bottom:10px;
}
div#e-mail p{
	margin-bottom:0;
	font-size:29pt;
	font-family:Verdana;
	text-indent:0;
	text-align:left;
}
div#e-mail figcaption p{
	color:white;
	font-size:19pt;
	font-family:Verdana;
}
#base figure#whatsapp {
	background-color:rgba(255,130,0,.1);
	padding-top:15px;
	padding-bottom:15px;
	box-sizing:content-box;
	margin-bottom:5px;
}
#base figure#whatsapp img{
	float:none;
	position:relative;
	left:50%;
	right:50%;
	margin-left:-35px;
	margin-right:-35px;
}

#base figure img#phone{
	float:none;
	position:relative;
	left:50%;
	right:50%;
	margin-left:-35px;
	margin-right:-35px;
}
figure#fonefixo {
	background-color:rgba(255,130,0,.1);
	padding-top:15px;
	padding-bottom:15px;
	box-sizing:content-box;
	margin-bottom:5px;
}
div#contatowhatsetel{
	float:right;
	width:40%;
	padding:1%;
	box-sizing: border-box;
	height:auto;
	
}

div#cobre-mapa{
	background-color:rgba(0,0,0,.1);
	height: 400px;
	position:relative;
	width:100%;
	z-index:350;
	top:-400px;
	transition:all 1s;
}
div#cobre-mapa:hover{
	background-color:rgba(0,0,0,.9);
	transition:all 1s;
}
div#cobre-mapa p{
	margin:0;
	display:none;
	font-family:Times;
	font-size:24pt;
	color:white;
	text-shadow: 0px 0px 1px  white;
	left:50%;
	right:50%;
	margin-right:-280px;
	margin-left:-280px;
	
	position:absolute;
	top:38%;
}
div#gmap_canvas{
}

span.erro{
	background-color:rgb(255,255,100);
	color:black;
	padding:5px;
	font-family:Verdana;
	position:relative;
	top:-10px;
	display:block;
	margin-bottom:-30px;
	width:250px;
	font-size:10pt;
	border-radius:1px 1px 30px 10px;
	box-shadow:0px 0px 3px rgb(255,255,100);
	background-image: url("../midia/atention.png");
	background-size: 20px 20px;
	background-position:3px center;
	padding-left:26px;
	background-repeat:no-repeat;
	animation: fadeIn 1s ease-in-out;
	display:none;
}
