@charset 'UTF-8';
/*define a codificação a ser utilizada para o documento*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

body{
	
}

#preloader {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(0,0,0,.89);
    z-index:999;
    background-image:url("../midia/loading-bar.gif");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:10%;
    
}
#preloader img{
	position:absolute;
	left:50%;
	right:50%;
	margin-left:-200px;
	margin-right:-200px;
	top:50%;
	bottom:50%;
	margin-top:-200px;
	margin-bottom:0px;
	height:300;
	width:400px;
	
}

/* janela de exibição */

#painelsite{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	bottom:0;
}

/*Rodapé*/
footer{
	width:100%;
	height:430px;
	background-color:rgba(40,40,40,.96);
	position:relative;
	bottom: 0;
	left:0;
	padding-top:1%;
}
footer img{
	width:290px;
	height:270px;
	position:absolute;
	right:0;
	left:70%;
	top:29%;
	
}

footer p {
	color:white;
	text-align:center;
	font-size:100%;
	padding-top:20px;
}
footer p span{
	font-style: normal;
	font-size:90%;
	text-transform: capitalize;
}


/*Cabeçalho*/


header{
	background-color:rgba(40,40,40,.96);
	position:static;
	width: 100%;
	margin-top:0;
	left:0;
	height:10%;
}
p{
	color:white;
	font-size:10.5pt;
	font-family: 'Open Sans', sans-serif;
	margin-top:1.4%;
	margin-right:0.75%;
}


header figure{
	margin:0;
}
header figure#whats figcaption{
	position:absolute;
	right:0;
	margin-right:10%;
	background-color:rgba(0,0,0,.8);
	display:inline;
	width:150px;
	text-align:center;
	margin-top:0.2%;
	font-family:Verdana;
	font-weight: 500;
	padding-top:0.7%;
	border-radius:30px 0px 60px 30px;
	border-right:rgba(0,180,0,.5) 6px solid;
	border-left:rgba(0,0,0,.7) 6px solid;
	display:none;
	animation: fadeIn 1s ease-in-out;
	
}

header figure#whats figcaption:hover {
	transition:display 1s;
}

header figure#logo figcaption{
	position:absolute;
	left:0;
	margin-left:5.8%;
	margin-top:2%;
	display:inline;
	display:none;
	animation: fadeIn 1s ease-in-out;	
	background-image:url('../midia/seta-left60x50.png') ;
	background-position: left top;
	padding:0;
	background-size: 17px;
	background-repeat: no-repeat;
	
	
	
}
header figure#logo figcaption span{
	background-color:rgba(0,0,0,.8);
	color:white;
	text-align:center;
	font-family:Verdana;
	font-weight: 100;
	font-size:10pt;
	padding:4px 10px;
	border-radius:3px 5px 5px 3px;
	height:auto;
	width:auto;
	margin:0;
	margin-left:16px;
}

header figure#face figcaption{
	margin:0;
	position:absolute;
	right:0;
	margin-right:5.6%;
	margin-top:2%;
	display:none;
	animation: fadeIn 1s ease-in-out;
	
	background-image:url('../midia/seta-right60x50.png') ;
	background-position: right top;
	padding:0;
	background-size: 18px;
	background-repeat: no-repeat;
}
header figure#face figcaption span{
	color:white;
	font-family:Verdana;
	font-size:10pt;
	background-color:rgba(0,0,0,.8);
	padding:5px;
	border-radius:5px 3px 3px 5px;
	margin-right:16px;
}


header figure#face figcaption:hover{
}

/*pagina*/
.separacao{
	position:relative;
	height:auto;
	margin:0;
}
.separacao h2{
	
	color:white;
	background-color:rgba(255, 98,0,.7);
	font-family:Verdana;
	font-weight: 100;
	text-align:center;
	padding:5%;
	margin:0;
	font-size:22pt;
	box-shadow: 0px 0px 1px rgba(255, 133, 27,.7);
	
}
#primeiraseparacao{	
}
#a2222 h2{
}

#info{
	position:relative;
	width:100%;
	bottom:0;
	background-color:rgba(40,40,40,0.5);
	box-shadow: 0px 0px 5px rgba(40,40,40,0.7);
	height:auto;
	text-align:center;
	height:80px;
}
#info ul li{
	position:relative;
	color:white;
	list-style:none;
	display:inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	margin-right:5.5%;
	text-shadow:0px 0px 1px rgba(255,255,255,.5);
	font-weight:100;
	padding:20px 15px 25px 15px;
	width:40px;
}
#info ul a{
	text-decoration:none;
}
#info ul li:hover{
	box-shadow: inset 0px -7px 3px rgba(255,255,255,.05),
				0px 10px 10px rgba(255,255,255,.01);
	transition: box-shadow 1s, text-shadow 1s, background-color 1s;	
	text-shadow:0px 0px 3px rgba(255,255,255,.9);
	background-color: rgba(255,255,255,.005);
}


#info ul {
	margin:0;
	padding-top:25px;
}

.menuspawn {
	position:fixed;
	 display:none;
	 right:0;
	 top:10px; 
	 width:100%;
	 height:auto;
	 z-index:401;
	 transition:opacity 1s;
	 animation: fadeIn 1s ease-in-out;	
}

.chapeuspawn {
	position:fixed;
	display:none;
	height: 6px;
	background-color:rgba(255, 133, 27,1);
	border: 1.5px solid black;
	box-shadow:0px 0px 5px rgba(0,0,0,.9);
	top:0;
	width:80%;
	margin: 0 10%;
	 animation: fadeIn 1s ease-in-out;	
	 z-index:404;
}
.menuspawn img {
	position:fixed;
	float:left;
	margin-top:-66px;
	margin-left:-40px;
	opacity:.97;
	z-index:700; 
	

}
a.link-logo{
	cursor:url("../midia/cursor.gif"), default;
	
}

p.lei{
	font-size:9pt;
	color:white;
	font-family:arial;
	font-style:italic;
	margin:0;
	padding:6px;
}
p.lei a{
	text-decoration:none;
	color:rgb(100,100,255);
}

p.lei a:hover{
	color:yellow;
}


::-webkit-scrollbar {background: rgba(255,255,255,.1);} /* barra de rolagem toda */ 
::-webkit-scrollbar-thumb {background: rgb(255,135,0);} /* parte da barra que se movimenta */ 
::-webkit-scrollbar-button {background:rgba(100,100,100,.1);} /* ponta da barra de rolagem */ 
::-webkit-scrollbar-track {background:rgba(255,255,255,.1);} /* fundo da barra de rolagem, parte fixa */ 
::-webkit-scrollbar-track-piece {background:rgba(255,255,255,.1);} /* fundo da barra de rolagem, parte que ainda falta rolar */ 
::-webkit-scrollbar-corner {background:rgba(255,255,255,.1);} /* canto inferior direito da barra de rolagem */



/* botão voltar ao topo*/

button#irtop{
	position:fixed;
	background-color:rgba(255,135,0,.2);
	border:rgba(255,135,0,.2) 1px solid;
	text-align:center;
	width:50px;
	height:50px;
	font-family:'Open Sans', sans-serif;
	font-size:20pt;
	color:white;
	transition:all 1s;
	cursor: n-resize;
	float:right;
	right:40px;
	bottom:30px;
	border-radius:30px;
	z-index:99999;
	 animation: fadeIn 1s ease-in-out;
	display:none;
	
}
button#irtop :hover{
	background-color:rgba(255,255,255,.2);
	border:rgba(255,255,255,.2) 1px solid;
	transition:all 1s;
	text-shadow: 0px 0px 3px white; 
	
	
}
