@charset 'utf-8';

/*define a codificação a ser utilizada para o documento*/
/*pagina*/
body{	
	background-image: url("../midia/painel.jpg");
}
/*menu*/
nav{
	z-index:99999;
}
nav a{
	text-decoration:none;
}
nav ul{
	list-style:none;
	padding: 15px 25px;
	margin-bottom:5%;
	width:auto;
	text-align: center;
	background-color:rgba(255, 130, 0,.78);
	box-shadow:0px 1px 1px rgba(30, 30, 30,.5);
	margin-top:-12px;
	margin-left:10%;
	margin-right:10%;
}
nav ul li{
	display:inline;
	padding: 15px 7px;
	margin:0 2%;
	transition:background-image 1s;
}
nav ul li a{
	background-position:0 -3px;

}
nav ul li a:hover{
	padding-top: 15px;
	padding-bottom:15px;
	color:white;
	background-image:url("../midia/ef.png");
	transition:background 1s;
	background-size:100%;
	background-repeat:no-repeat;
	text-shadow: 0px 0px 2px white;
	
	
}
.menuspawn ul li a{
	z-index:500;	
	background-position:0 3px;
}

nav ul li a{
	color:white;	
	padding: 10px 10px;
	font-size:14pt;
	font-family: 'Open Sans', sans-serif;
}

/*painel */

#chapeu{	
	display:block;
	height: 6px;
	background-color:rgba(255, 130, 0,1);
	border: 1.5px solid black;
	margin: 4.5px 10%;
	box-shadow:0px 0px 5px rgba(0,0,0,.9);
	position:relative;
	top:-5px;
	z-index: 200;
}
#painel {
	background-color:rgba(0,0,0,0.67);
	height:auto;
	margin-top:-5px;
	width:100%;
	padding-bottom:1px;
}


#tv{
	position:relative;
	background-color:black;
	width:56%;
	left:21%;
	border:solid 3px rgba(255, 133, 27,1);
	box-shadow: 0px 0px 10px;
	margin-bottom:52px;
}
#depoimentos{
	width:17%;
	height:auto;
	position:absolute;
	background-color:rgba(0,0,0,.2);
	border-radius:3px 3px 10px 10px;
	top:32%;
	right:2%;
	padding:10px;
}
#depoimentos p{
	text-align: justify;
	font-style: italic;
	hyphens:auto;
}
#dep img{
	height:40px;
	width:50px;
	position: relative;
	right:0;
	top:0;
	margin:10px 0 15px -40px;
	
}
#dep figcaption{
	
	position: relative;
	color:white;
	font-family:Verdana;
	display:inline;
	font-size:9pt;
	margin:0;
	margin: 10px -40px 0 -10px;
	text-align:right;
	float:right;
}
#dep p{
		font-size:10.5pt;
		text-indent:60px;
		margin: -30px -40px 0 -40px;
}
#dep p span{
	    position:relative;
	    float:right;
	    top:-17px;
	    right:-10px;
		font-size:11pt;
		text-indent:0;
		font-style:normal;
		font-weight:300;
		background-color:rgba(255,135,0,.1);
		border-top:1px rgba(255,135,0,.3) solid;
		border-bottom:1px rgba(255,145,0,.3) solid;
		box-shadow: 0px 0px 5px rgba(255,135,0,.4);
		padding: 0 8%;
		width:93%;
		display:inline-block;
		
}



#propaganda{
	position:absolute;
	top:0;
	left:0;
	width:17%;
	top:40%;
	left:.7%;
	background-color:rgba(0,0,0,.2);
	border-radius: 3px 3px 10px 10px;
	padding:10px;
	padding-top:20px;
}
#propaganda ul{
	width:100%;
	height:100%;
	list-style:none;
	color:white;
	margin:0;
	padding:0;
}
#propaganda p {
	position:relative;
	top:-11px;
	left:33px;
	text-indent:10px;
	font-weight:300;
	background-color:rgba(255,135,0,.1);
	border-top:1px rgba(255,135,0,.3) solid;
	border-bottom:1px rgba(255,145,0,.3) solid;
	box-shadow: 0px 0px 5px rgba(255,135,0,.4);
	width:108%;
	
}

#propaganda ul li{
	padding: 9px 0;
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,.05);
	margin:-1px;
	font-size:9pt;
	font-family:verdana;
}

#propaganda ul a{
	text-decoration:none;
	color:white;
}
#propaganda ul li a:hover {
}

#propaganda ul li:hover {
	position:relative;
	background-color:rgba(255,100,0,.1);
	transition:background 1s;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:9px;
}

div#login{
	position:absolute;
	width:120px;
	text-align:center;
	
}

div#login p{
	
	padding: 5px 5px 5px 5px;
	background-color:rgba(255,135,0,.1);
	box-shadow:0px 0px 4px rgba(255,135,0,.5);
	border-radius: 0px 0px 30px 0px;
	
	
	
}
div#login p:hover{
	background-color:rgba(255,135,0,.7);
	transition: all 1s;
	border-radius: 0px 0px 0px 0px;
}


div#login form{
	display:none;
	position:absolute;
	left:120px;
	width:220px;
	background-color:rgba(255,135,0,.1);
	padding:5px;
}

div#login form label{
	color:white;
	font-size:11pt;
	font-family:Times;
	text-align:left;
	margin-right:10px;
	margin-left:-20px;
}
div#login input{
	width:90px;
	height:15px;
	text-align:left;
	background-color:rgba(255,135,0,.1);
	border:none;
	box-shadow:0px 0px 4px rgba(255,135,0,.5);
	margin-left:10px;
	margin-top:5px;
	color:white;
	font-size:11pt;
	font-family:Times;
	text-align:left;
}


