@charset 'UTF-8';

div#projetos {
	margin:0;
	background-repeat:repeat;
	height:auto;
	width:100%;
	position:relative;
}
div#projetos #conteudoprojetos{
	width:100%;
	height:100%;
	
}

section#conteudo-projetos{
	background-color:rgba(0,0,0,.3);
	width:90%;
	height:auto;
	margin:5px 0 5px 5%;
}




#menu-projetos ul {
	margin:0;
	padding:0;
	height:auto;
	
	padding: 35px 0px 35px 0px;
}
#menu-projetos{
	position:relative;
	width:100%;
	top:0;
	background-color:rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px rgba(40,40,40,0.7);
	text-align:center;
}
#menu-projetos ul li{
	color:white;
	list-style:none;
	display:inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	padding: 35px 30px 35px 30px;
	text-shadow:0px 0px 3px rgba(255,255,255,.5);
	font-weight:100;
	width:180px;
	box-sizing:content-box;
	height:auto;
	
}
#menu-projetos ul a{
	text-decoration:none;
}
#menu-projetos ul li:hover{
	box-shadow: inset 0px -7px 3px rgba(255,255,255,.05),
				0px 10px 10px rgba(255,255,255,.01);
	transition: all 1s;	
	text-shadow:0px 0px 3px rgba(255,255,255,.9);
	background-color: rgba(100,50,0,.2);
}


/* blocos */


.blocos {
	height:auto;
	width:100%;
	background-color:rgba(100,50,0,.2);
	box-shadow: 0px 0px 3px rgba(100,50,0,.2);
	padding:0;
	margin:0;
	padding-bottom:25px;
	box-sizing:border-box;
	border-bottom: solid 1px rgba(5,3,0,.2);
}

.blocos h3{
	color:#fff;
	background-color:rgba(0,0,0,.7);
	font-size:18pt;
	font-weight:100;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	padding: 10px 0px 10px 30px;
	border-top:1px solid rgb(20,20,20);
	border-bottom:1px solid rgb(20,20,20);
	box-shadow:0px 0px 1px black;
}

.blocos img{
	height:100%;
	width:100%;
	margin:0;
}
.blocos figure{
	height:200px;
	width:32%;
	margin:0px;
	padding:0;
	margin:.3%;
	display:inline-block;
	border:2.5px solid rgb(100,100,100);
}
.blocos figure figcaption{
	position:absolute;
	color:white;
	margin-left:60px;
	margin-top:-30px;
	display:none;
}