@charset 'UTF-8';

div#sobre {
	margin:0;
	height:auto;
	width:100%;
	position:relative;
	/*background-image:url("../midia/fachada.jpg");*/
	background-size:100% 100%;
}
div#sobre #conteudosobre{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.2);
	margin:0;
	padding:5px 0 5px 0;
}

section#sobre{
	
	background-color:rgba(0,0,0,0.65);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.65);
	margin: 0 5% 0 5%;
	padding: 30px;
	padding-top:200px;
	background-image:url("../midia/logoDISSOTTIMARCENARIA-300x200.png");
	background-repeat: no-repeat;
	background-position:80px -40px;
}

section#sobre h2{
	font-family:Times;
	font-size:60pt;
	margin:0;
	padding:0;
	margin-top:40px;
	font-weight: 100;
	text-transform: uppercase;
	color:white;
	text-shadow: white 0 0 1px; 
	text-indent:20px;
	margin-bottom:30px;
	
}

section#sobre p, section#sobre ul li {
	font-family: 'Open Sans', sans-serif;
	font-size:13pt;
	color:white;
	font-weight: 400;
	text-align:justify;
	text-indent:50px;
}

section#sobre ul li {
	text-indent:0;
	margin-bottom:10px;	
}
section#sobre h3{
	color:white;
	font-size:18pt;
	margin:0;
	font-weight:100;
	font-family:Times;
	margin-bottom:20px;
	background-color:rgba(255,135,0,.1);
	border-top:1px rgba(255,135,0,.3) solid;
	border-bottom:1px rgba(255,135,0,.3) solid;
	box-shadow: 0px 0px 3px rgba(255,135,0,.3);
	padding-left:10px;
}


section#sobre div#coluna1sobre{
	width:500px;
	display:inline-block;
}

div#sobre-depoimentos{
	border-left:rgba(255,255,255,.1) solid 1px;
	padding:5px;
	padding-left:5%;
	margin-left:5%;
	text-align:center;
	padding-top:0;
	margin-top:0;
}
div#sobre-depoimentos p {
	font-family:Verdana;
	font-size:12pt;
	color:white;
	
}
div#sobre-depoimentos img{
	height:50px;
	width:60px;
	margin-top:15px;
}
div#sobre-depoimentos figure{
	margin:0;
	padding:0;
}
div#sobre-depoimentos figcaption{
	font-family:Verdana;
	font-size:11pt;
	color:white;
	text-align:right;
	font-style: italic;
	
	margin-bottom:30px;
}

div#coluna2sobre{
	width:38%;
	height:auto;
	float:right;
}
